.hero {
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.7); */
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  padding: 0 0.5em;
}
.heroHeadline {
  letter-spacing: 2px;

}
.heroText{

}
.heroButton {
background:transparent;
color:#fff;
border: 1px solid #fff; 
padding: 5px 12px;
cursor: pointer;
border-radius: 5px;
box-shadow: 3px 3px 3px #888888;
margin-top: 15px;
margin-bottom: 30px;
}

.heroButton:hover {
  opacity:70%;
 
  } 


  @media(min-width: 300px) {
    .heroDetails {
      font-size: 12px;
      }
    }
  @media(min-width: 400px) {
    .heroDetails {
      font-size: 16px;
    }
  }

@media(min-width: 600px) {
  .heroDetails {
    font-size: 18px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
